table.u-full-width
    thead
        tr
            th Name
            th State
            th City
            th Rating
            th Open
    tbody
    each item in restaurants
        tr
            td
                a(href='/view/restaurant/'+ item.business_id)
                    = item.name
            td= item.state
            td= item.city
            td= item.stars + " Stars"
            if item.open
                td= "Open"
            else
                td= "Closed"
