extends layout

block content
	h3= user.name
	font(size ='2') Fans: #{user.fans}
	font(size ='1')&nbsp;&nbsp;Yelping since: #{user.yelping_since}
	div.row
		h5= "Votes"
		p Cool: #{user.votes.cool} Useful: #{user.votes.useful} Funny:  #{user.votes.funny}
	h5="Friends"